body {
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    text-align: center;
}

h1{
    color: #333;
}

#followers{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}
.card{
    background: white;
    border-radius: 20px;
    box-shadow: 1 4px 8px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 15px;
    text-align: center;
    transition: transform 0.2s;
}
.card:hover{
  transform: scale(1.05);
}
.avatar{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
}
.login{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;

}
.profile-link{
    text-decoration: none;
    color: #0366d6;
    font-size: 14px;
}