<style>
    .static-box {
      position: static;
      background: lightgray;
      padding: 10px;
      margin: 10px;
    }
    .relative-box {
      position: relative;
      left: 30px;
      top: 10px;
      background: lightgreen;
      padding: 10px;
    }
    .absolute-box {
      position: absolute;
      top: 100px;
      left: 150px;
      background: orange;
      padding: 10px;
    }
    .fixed-box {
      position: fixed;
      bottom: 10px;
      right: 10px;
      background: red;
      color: white;
      padding: 10px;
    }
  </style>